---
import Layout from '../../layouts/Layout.astro';


---

<Layout title="Kibru Demeke - full stack developer">
	<main>
		
        <div>
            <h1 class="text-2xl">List of ideas - 💡</h1>
        </div>
		  
	</main>
	
</Layout>
