---
import Layout from '../layouts/Layout.astro';

const posts = (await Astro.glob('../content/posts/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Welcome to Astro.">
	<main>
		
		<ul  class="">
			{posts.map(post => <li>{post.frontmatter.title}</li>)}
		</ul>
	</main>
</Layout>
