---
import Layout from "../layouts/Layout.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		socialImage?: string;
		status?: string;
	};
}
const {
	content: { title, description, pubDate, updatedDate, heroImage, status, socialImage },
} = Astro.props;
---

<Layout title={title}>
	<style global>
		#post p {
				padding-bottom: 10px;
				text-align: justify;
		}
		#post p img {
				width: 100%;
		} 
		#post h2 {
				font-size: 1.5rem;
				line-height: 2rem;
				font-weight: 700;
				padding-bottom: .75rem;
		}

		</style>

<div id="post">
	<h1>dede</h1>
	<slot />
</div>
</Layout>
