---
import Layout from "../layouts/Layout.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		socialImage?: string;
		status?: string;
	};
}
const {
	content: { title, description, pubDate, updatedDate, heroImage, status, socialImage },
} = Astro.props;
---

<Layout title={title}>
<div>
	<h1>dede</h1>
</div>
</Layout>
